[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A very simple countdown.
[access "refs/*"]
	owner = group user/Jonathan (jonasanx)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jonathan (jonasanx)
	label-Verified = -1..+1 group user/Jonathan (jonasanx)
	push = group user/Jonathan (jonasanx)
	read = group user/Jonathan (jonasanx)
	rebase = group user/Jonathan (jonasanx)
	removeReviewer = group user/Jonathan (jonasanx)
	submit = group user/Jonathan (jonasanx)
[access "refs/heads/*"]
	create = group user/Jonathan (jonasanx)
	push = +force group user/Jonathan (jonasanx)
	pushMerge = group user/Jonathan (jonasanx)
	read = group user/Jonathan (jonasanx)
[access "refs/tags/*"]
	push = group user/Jonathan (jonasanx)
	push = +force group user/Jonathan (jonasanx)
